.DateTimeChooser {
    display: flex;
    flex-direction: column;
    background-color: white;

    .calendar {
        width: fit-content;
        margin-top: -8px;

        .rdrMonthAndYearWrapper {
            margin-top: -10px
        }

        .rdrMonth {
            padding-bottom: 1em;
        }
    }

    .time-wrapper {
        display: flex;

        .time-selector {
            flex-grow: 1;
            width: 0;
        }
    }
}
